[Unit]
Description=UPower-powered power alerter
Documentation=man:poweralertd(1)
PartOf=graphical-session.target
Requires=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/poweralertd
Restart=on-failure

[Install]
WantedBy=graphical-session.target
